In [1]:
import pickle
import pandas as pd
import numpy as np

In [2]:
with open('rays_df_2017.pickle','rb') as read_file:
    new_df = pickle.load(read_file)
    
new_df.head(5)

,Attendance,Gm#,Date,Tm,home_or_away,Opp,W/L,runs_scored,runs_allowed,W-L,...,Streak,Total_wins,Total_losses,Win_differential,win_value,Wins_last_10,Mean_runs_last_10,cum_runs_scored,cum_runs_allowed,run_differential
0,31042.0,1,Sunday Apr 2,TBR,Home,NYY,W,7,3,1-0,...,+,1,0,1,1,NaN,7.000000,7,3,4
1,19366.0,2,Tuesday Apr 4,TBR,Home,NYY,L,0,5,1-1,...,-,1,1,0,0,NaN,3.500000,7,8,-1
2,12737.0,3,Wednesday Apr 5,TBR,Home,NYY,W,4,1,2-1,...,+,2,1,1,1,NaN,3.666667,11,9,2
3,12678.0,4,Thursday Apr 6,TBR,Home,TOR,L,2,5,2-2,...,-,2,2,0,0,NaN,3.250000,13,14,-1
4,12842.0,5,Friday Apr 7,TBR,Home,TOR,W,10,8,3-2,...,+,3,2,1,1,NaN,4.600000,23,22,1