In [2]:
import glob
import pandas as pd
import os

In [4]:
cwd = os.getcwd()
cwd

'/Users/robertpagano/src/metis_project_luther/Data'

In [5]:
path = r'/Users/robertpagano/src/metis_project_luther/Data/weather_data' # use your path
all_files = glob.glob(os.path.join(path, "*.csv"))
df = pd.concat((pd.read_csv(f) for f in all_files))

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8125472 entries, 0 to 304811
Data columns (total 6 columns):
station      object
valid        object
 tmpf        object
  sped       object
  p01i       object
  gust_mp    object
dtypes: object(6)
memory usage: 433.9+ MB

In [7]:
df.head()

  station             valid  tmpf    sped    p01i    gust_mp
0     ATL  2014-03-01 00:52  51.08     8.1    0.00         M
1     ATL  2014-03-01 01:52  51.08     8.1    0.00         M
2     ATL  2014-03-01 02:52  50.00     6.9    0.00         M
3     ATL  2014-03-01 03:52  50.00     8.1    0.00         M
4     ATL  2014-03-01 04:52  48.02    12.7    0.00         M

In [ ]:
# weather = df.groupby('station').resample('3H', on='valid').mean()
# weather = df.groupby('station').sum()

In [ ]:
# weather = df.groupby('station').resample('3H', on='valid').mean()

In [18]:
df.rename(columns = {'datettime': 'datetime'}, inplace=True)
df.head()

  station          datetime  tmpf    sped    p01i    gust_mp
0     ATL  2014-03-01 00:52  51.08     8.1    0.00         M
1     ATL  2014-03-01 01:52  51.08     8.1    0.00         M
2     ATL  2014-03-01 02:52  50.00     6.9    0.00         M
3     ATL  2014-03-01 03:52  50.00     8.1    0.00         M
4     ATL  2014-03-01 04:52  48.02    12.7    0.00         M

In [21]:
df.set_index('datetime', inplace=True)
df.head()

                 station  tmpf    sped    p01i    gust_mp
datetime
2014-03-01 00:52     ATL  51.08     8.1    0.00         M
2014-03-01 01:52     ATL  51.08     8.1    0.00         M
2014-03-01 02:52     ATL  50.00     6.9    0.00         M
2014-03-01 03:52     ATL  50.00     8.1    0.00         M
2014-03-01 04:52     ATL  48.02    12.7    0.00         M

In [22]:
df.index = pd.to_datetime(df.index)
df.head()

                    station  tmpf    sped    p01i    gust_mp
datetime
2014-03-01 00:52:00     ATL  51.08     8.1    0.00         M
2014-03-01 01:52:00     ATL  51.08     8.1    0.00         M
2014-03-01 02:52:00     ATL  50.00     6.9    0.00         M
2014-03-01 03:52:00     ATL  50.00     8.1    0.00         M
2014-03-01 04:52:00     ATL  48.02    12.7    0.00         M

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8125472 entries, 2014-03-01 00:52:00 to 2018-10-31 23:55:00
Data columns (total 5 columns):
station      object
 tmpf        object
  sped       object
  p01i       object
  gust_mp    object
dtypes: object(5)
memory usage: 372.0+ MB

In [26]:
df = df.reset_index()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8125472 entries, 0 to 8125471
Data columns (total 7 columns):
index        int64
datetime     datetime64[ns]
station      object
 tmpf        object
  sped       object
  p01i       object
  gust_mp    object
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 433.9+ MB

In [35]:
df.columns

Index(['index', 'datetime', 'station', ' tmpf ', '  sped ', '  p01i ',
       '  gust_mp'],
      dtype='object')

In [36]:
weather = df.groupby('station')[[' tmpf ']].resample('24H', on='datetime').mean()
weather = weather.reset_index()
weather.head(10)

KeyError: 'The grouper name datetime is not found'

In [29]:
weather.shape

(382144, 1)