In [1]:
import pandas as pd
import numpy as np
import requests
import bs4
import re
import os
import bbref_scrape as bbrs
import pickle

In [2]:
bbrs.find_tables('https://www.baseball-reference.com/teams/KCR/2016-schedule-scores.shtml')

['results', 'table', 'team_schedule']

In [6]:
ATL_2014 = bbrs.pull_game_table('ATL', 2014)
ARI_2014 = bbrs.pull_game_table('ARI', 2014)
BAL_2014 = bbrs.pull_game_table('BAL', 2014)
BOS_2014 = bbrs.pull_game_table('BOS', 2014)
CHC_2014 = bbrs.pull_game_table('CHC', 2014)
CHW_2014 = bbrs.pull_game_table('CHW', 2014)
CIN_2014 = bbrs.pull_game_table('CIN', 2014)
CLE_2014 = bbrs.pull_game_table('CLE', 2014)
COL_2014 = bbrs.pull_game_table('COL', 2014)
DET_2014 = bbrs.pull_game_table('DET', 2014)
KCR_2014 = bbrs.pull_game_table('KCR', 2014)
HOU_2014 = bbrs.pull_game_table('HOU', 2014)
LAA_2014 = bbrs.pull_game_table('LAA', 2014)
LAD_2014 = bbrs.pull_game_table('LAD', 2014)
MIA_2014 = bbrs.pull_game_table('MIA', 2014)
MIL_2014 = bbrs.pull_game_table('MIL', 2014)
MIN_2014 = bbrs.pull_game_table('MIN', 2014)
NYM_2014 = bbrs.pull_game_table('NYM', 2014)
NYY_2014 = bbrs.pull_game_table('NYY', 2014)
OAK_2014 = bbrs.pull_game_table('OAK', 2014)
PHI_2014 = bbrs.pull_game_table('PHI', 2014)
PIT_2014 = bbrs.pull_game_table('PIT', 2014)
SDP_2014 = bbrs.pull_game_table('SDP', 2014)
SEA_2014 = bbrs.pull_game_table('SEA', 2014)
SFG_2014 = bbrs.pull_game_table('SFG', 2014)
STL_2014 = bbrs.pull_game_table('STL', 2014)
TBR_2014 = bbrs.pull_game_table('TBR', 2014)
TEX_2014 = bbrs.pull_game_table('TEX', 2014)
TOR_2014 = bbrs.pull_game_table('TOR', 2014)
WSN_2014 = bbrs.pull_game_table('WSN', 2014)
ATL_2015 = bbrs.pull_game_table('ATL', 2015)
ARI_2015 = bbrs.pull_game_table('ARI', 2015)
BAL_2015 = bbrs.pull_game_table('BAL', 2015)
BOS_2015 = bbrs.pull_game_table('BOS', 2015)
CHC_2015 = bbrs.pull_game_table('CHC', 2015)
CHW_2015 = bbrs.pull_game_table('CHW', 2015)
CIN_2015 = bbrs.pull_game_table('CIN', 2015)
CLE_2015 = bbrs.pull_game_table('CLE', 2015)
COL_2015 = bbrs.pull_game_table('COL', 2015)
DET_2015 = bbrs.pull_game_table('DET', 2015)
KCR_2015 = bbrs.pull_game_table('KCR', 2015)
HOU_2015 = bbrs.pull_game_table('HOU', 2015)
LAA_2015 = bbrs.pull_game_table('LAA', 2015)
LAD_2015 = bbrs.pull_game_table('LAD', 2015)
MIA_2015 = bbrs.pull_game_table('MIA', 2015)
MIL_2015 = bbrs.pull_game_table('MIL', 2015)
MIN_2015 = bbrs.pull_game_table('MIN', 2015)
NYM_2015 = bbrs.pull_game_table('NYM', 2015)
NYY_2015 = bbrs.pull_game_table('NYY', 2015)
OAK_2015 = bbrs.pull_game_table('OAK', 2015)
PHI_2015 = bbrs.pull_game_table('PHI', 2015)
PIT_2015 = bbrs.pull_game_table('PIT', 2015)
SDP_2015 = bbrs.pull_game_table('SDP', 2015)
SEA_2015 = bbrs.pull_game_table('SEA', 2015)
SFG_2015 = bbrs.pull_game_table('SFG', 2015)
STL_2015 = bbrs.pull_game_table('STL', 2015)
TBR_2015 = bbrs.pull_game_table('TBR', 2015)
TEX_2015 = bbrs.pull_game_table('TEX', 2015)
TOR_2015 = bbrs.pull_game_table('TOR', 2015)
WSN_2015 = bbrs.pull_game_table('WSN', 2015)
ATL_2016 = bbrs.pull_game_table('ATL', 2016)
ARI_2016 = bbrs.pull_game_table('ARI', 2016)
BAL_2016 = bbrs.pull_game_table('BAL', 2016)
BOS_2016 = bbrs.pull_game_table('BOS', 2016)
CHC_2016 = bbrs.pull_game_table('CHC', 2016)
CHW_2016 = bbrs.pull_game_table('CHW', 2016)
CIN_2016 = bbrs.pull_game_table('CIN', 2016)
CLE_2016 = bbrs.pull_game_table('CLE', 2016)
COL_2016 = bbrs.pull_game_table('COL', 2016)
DET_2016 = bbrs.pull_game_table('DET', 2016)
KCR_2016 = bbrs.pull_game_table('KCR', 2016)
HOU_2016 = bbrs.pull_game_table('HOU', 2016)
LAA_2016 = bbrs.pull_game_table('LAA', 2016)
LAD_2016 = bbrs.pull_game_table('LAD', 2016)
MIA_2016 = bbrs.pull_game_table('MIA', 2016)
MIL_2016 = bbrs.pull_game_table('MIL', 2016)
MIN_2016 = bbrs.pull_game_table('MIN', 2016)
NYM_2016 = bbrs.pull_game_table('NYM', 2016)
NYY_2016 = bbrs.pull_game_table('NYY', 2016)
OAK_2016 = bbrs.pull_game_table('OAK', 2016)
PHI_2016 = bbrs.pull_game_table('PHI', 2016)
PIT_2016 = bbrs.pull_game_table('PIT', 2016)
SDP_2016 = bbrs.pull_game_table('SDP', 2016)
SEA_2016 = bbrs.pull_game_table('SEA', 2016)
SFG_2016 = bbrs.pull_game_table('SFG', 2016)
STL_2016 = bbrs.pull_game_table('STL', 2016)
TBR_2016 = bbrs.pull_game_table('TBR', 2016)
TEX_2016 = bbrs.pull_game_table('TEX', 2016)
TOR_2016 = bbrs.pull_game_table('TOR', 2016)
WSN_2016 = bbrs.pull_game_table('WSN', 2016)
ATL_2017 = bbrs.pull_game_table('ATL', 2017)
ARI_2017 = bbrs.pull_game_table('ARI', 2017)
BAL_2017 = bbrs.pull_game_table('BAL', 2017)
BOS_2017 = bbrs.pull_game_table('BOS', 2017)
CHC_2017 = bbrs.pull_game_table('CHC', 2017)
CHW_2017 = bbrs.pull_game_table('CHW', 2017)
CIN_2017 = bbrs.pull_game_table('CIN', 2017)
CLE_2017 = bbrs.pull_game_table('CLE', 2017)
COL_2017 = bbrs.pull_game_table('COL', 2017)
DET_2017 = bbrs.pull_game_table('DET', 2017)
KCR_2017 = bbrs.pull_game_table('KCR', 2017)
HOU_2017 = bbrs.pull_game_table('HOU', 2017)
LAA_2017 = bbrs.pull_game_table('LAA', 2017)
LAD_2017 = bbrs.pull_game_table('LAD', 2017)
MIA_2017 = bbrs.pull_game_table('MIA', 2017)
MIL_2017 = bbrs.pull_game_table('MIL', 2017)
MIN_2017 = bbrs.pull_game_table('MIN', 2017)
NYM_2017 = bbrs.pull_game_table('NYM', 2017)
NYY_2017 = bbrs.pull_game_table('NYY', 2017)
OAK_2017 = bbrs.pull_game_table('OAK', 2017)
PHI_2017 = bbrs.pull_game_table('PHI', 2017)
PIT_2017 = bbrs.pull_game_table('PIT', 2017)
SDP_2017 = bbrs.pull_game_table('SDP', 2017)
SEA_2017 = bbrs.pull_game_table('SEA', 2017)
SFG_2017 = bbrs.pull_game_table('SFG', 2017)
STL_2017 = bbrs.pull_game_table('STL', 2017)
TBR_2017 = bbrs.pull_game_table('TBR', 2017)
TEX_2017 = bbrs.pull_game_table('TEX', 2017)
TOR_2017 = bbrs.pull_game_table('TOR', 2017)
WSN_2017 = bbrs.pull_game_table('WSN', 2017)
ATL_2018 = bbrs.pull_game_table('ATL', 2018)
ARI_2018 = bbrs.pull_game_table('ARI', 2018)
BAL_2018 = bbrs.pull_game_table('BAL', 2018)
BOS_2018 = bbrs.pull_game_table('BOS', 2018)
CHC_2018 = bbrs.pull_game_table('CHC', 2018)
CHW_2018 = bbrs.pull_game_table('CHW', 2018)
CIN_2018 = bbrs.pull_game_table('CIN', 2018)
CLE_2018 = bbrs.pull_game_table('CLE', 2018)
COL_2018 = bbrs.pull_game_table('COL', 2018)
DET_2018 = bbrs.pull_game_table('DET', 2018)
KCR_2018 = bbrs.pull_game_table('KCR', 2018)
HOU_2018 = bbrs.pull_game_table('HOU', 2018)
LAA_2018 = bbrs.pull_game_table('LAA', 2018)
LAD_2018 = bbrs.pull_game_table('LAD', 2018)
MIA_2018 = bbrs.pull_game_table('MIA', 2018)
MIL_2018 = bbrs.pull_game_table('MIL', 2018)
MIN_2018 = bbrs.pull_game_table('MIN', 2018)
NYM_2018 = bbrs.pull_game_table('NYM', 2018)
NYY_2018 = bbrs.pull_game_table('NYY', 2018)
OAK_2018 = bbrs.pull_game_table('OAK', 2018)
PHI_2018 = bbrs.pull_game_table('PHI', 2018)
PIT_2018 = bbrs.pull_game_table('PIT', 2018)
SDP_2018 = bbrs.pull_game_table('SDP', 2018)
SEA_2018 = bbrs.pull_game_table('SEA', 2018)
SFG_2018 = bbrs.pull_game_table('SFG', 2018)
STL_2018 = bbrs.pull_game_table('STL', 2018)
TBR_2018 = bbrs.pull_game_table('TBR', 2018)
TEX_2018 = bbrs.pull_game_table('TEX', 2018)
TOR_2018 = bbrs.pull_game_table('TOR', 2018)
WSN_2018 = bbrs.pull_game_table('WSN', 2018)

In [7]:
dataframes = [ATL_2014, ARI_2014, BAL_2014, BOS_2014, CHC_2014, CHW_2014, CIN_2014, CLE_2014, COL_2014, DET_2014, KCR_2014, HOU_2014, LAA_2014, LAD_2014, MIA_2014, MIL_2014, MIN_2014, NYM_2014, NYY_2014, OAK_2014, PHI_2014, PIT_2014, SDP_2014, SEA_2014, SFG_2014, STL_2014, TBR_2014, TEX_2014, TOR_2014, WSN_2014, ATL_2015, ARI_2015, BAL_2015, BOS_2015, CHC_2015, CHW_2015, CIN_2015, CLE_2015, COL_2015, DET_2015, KCR_2015, HOU_2015, LAA_2015, LAD_2015, MIA_2015, MIL_2015, MIN_2015, NYM_2015, NYY_2015, OAK_2015, PHI_2015, PIT_2015, SDP_2015, SEA_2015, SFG_2015, STL_2015, TBR_2015, TEX_2015, TOR_2015, WSN_2015, ATL_2016, ARI_2016, BAL_2016, BOS_2016, CHC_2016, CHW_2016, CIN_2016, CLE_2016, COL_2016, DET_2016, KCR_2016, HOU_2016, LAA_2016, LAD_2016, MIA_2016, MIL_2016, MIN_2016, NYM_2016, NYY_2016, OAK_2016, PHI_2016, PIT_2016, SDP_2016, SEA_2016, SFG_2016, STL_2016, TBR_2016, TEX_2016, TOR_2016, WSN_2016, ATL_2017, ARI_2017, BAL_2017, BOS_2017, CHC_2017, CHW_2017, CIN_2017, CLE_2017, COL_2017, DET_2017, KCR_2017, HOU_2017, LAA_2017, LAD_2017, MIA_2017, MIL_2017, MIN_2017, NYM_2017, NYY_2017, OAK_2017, PHI_2017, PIT_2017, SDP_2017, SEA_2017, SFG_2017, STL_2017, TBR_2017, TEX_2017, TOR_2017, WSN_2017, ATL_2018, ARI_2018, BAL_2018, BOS_2018, CHC_2018, CHW_2018, CIN_2018, CLE_2018, COL_2018, DET_2018, KCR_2018, HOU_2018, LAA_2018, LAD_2018, MIA_2018, MIL_2018, MIN_2018, NYM_2018, NYY_2018, OAK_2018, PHI_2018, PIT_2018, SDP_2018, SEA_2018, SFG_2018, STL_2018, TBR_2018, TEX_2018, TOR_2018, WSN_2018]

In [8]:
from functools import reduce
df_merged = reduce(lambda  left,right: pd.merge(left,right,how='outer'), dataframes)

In [9]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24296 entries, 0 to 24295
Data columns (total 35 columns):
Gm#                  24296 non-null object
Date                 24296 non-null object
                     24296 non-null object
Tm                   24296 non-null object
Location             24296 non-null object
Opp                  24296 non-null object
W/L                  24296 non-null object
runs_scored          24296 non-null int64
runs_allowed         24296 non-null int64
Inn                  24296 non-null object
W-L                  24296 non-null object
Rank                 24296 non-null object
GB                   24296 non-null float64
Win                  24296 non-null object
Loss                 24296 non-null object
Save                 24296 non-null object
Time                 24296 non-null object
is_night             24296 non-null int64
Attendance           24196 non-null float64
Streak               24296 non-null object
Orig. Scheduled      24296 non-null object
is_home              24296 non-null int64
Total_wins           24296 non-null int64
Total_losses         24296 non-null int64
cum_runs_scored      24296 non-null int64
cum_runs_allowed     24296 non-null int64
run_differential     24296 non-null int64
Win_differential     24296 non-null int64
win_value            24296 non-null int64
Wins_last_10         22946 non-null float64
Mean_runs_last_10    24296 non-null float64
date_fixed           24296 non-null int64
year                 24296 non-null object
month                24296 non-null object
day                  24296 non-null object
dtypes: float64(4), int64(12), object(19)
memory usage: 6.7+ MB

In [10]:
df_merged.head(5)

,Gm#,Date,,Tm,Location,Opp,W/L,runs_scored,runs_allowed,Inn,...,cum_runs_allowed,run_differential,Win_differential,win_value,Wins_last_10,Mean_runs_last_10,date_fixed,year,month,day
0,1,201403310,boxscore,ATL,@,MIL,L,0,2,,...,2,-2,-1,0,NaN,0.0,20140331,2014,03,31
1,2,201404010,boxscore,ATL,@,MIL,W,5,2,,...,4,1,0,1,NaN,2.5,20140401,2014,04,01
2,3,201404020,boxscore,ATL,@,MIL,W,1,0,,...,4,2,1,1,NaN,2.0,20140402,2014,04,02
3,4,201404040,boxscore,ATL,@,WSN,W,2,1,,...,5,3,2,1,NaN,2.0,20140404,2014,04,04
4,5,201404050,boxscore,ATL,@,WSN,W,6,2,,...,7,7,3,1,NaN,2.8,20140405,2014,04,05

In [11]:
df_merged.to_csv('merged_final_file_before_cleaning.csv')

In [ ]:
df_merged.sample(20)

Above is my first draft of merged data for every game for every team since 2014. Still need to clean and do some feature engineering, plus add weather

In [12]:
import os
os.getcwd()

'/Users/robertpagano/src/metis_project_luther'

**Below I am pickling the final uncleaned baseball reference files. Now I must clean them, add some additional features through engineering (such as cumaltive runs, wins last 10, opposing team last 10, etc.) and add a weather feature**

In [14]:
import pickle
with open('/Users/robertpagano/src/metis_project_luther/data/merged_data_2014_2018_final_uncleaned.pickle', 'wb') as to_write:
    pickle.dump(df_merged, to_write)