In [1]:
import numpy as np
import pandas as pd
import data_clean_functions as dcf
import os
import pickle

In [2]:
with open('/Users/robertpagano/src/metis_project_luther/data/merged_data_2014_2018_final_uncleaned.pickle', "rb") as to_read:
    df = pickle.load(to_read)

In [3]:
df.head()

,Gm#,Date,,Tm,Location,Opp,W/L,R,RA,Inn,...,GB,Win,Loss,Save,Time,D/N,Attendance,Streak,Orig. Scheduled,HomeGame
0,1,201403310,boxscore,ATL,@,MIL,L,0,2,,...,1.0,Gallardo,Teheran,Rodriguez,2:45,D,"45,691",-,,False
1,2,201404010,boxscore,ATL,@,MIL,W,5,2,,...,1.0,Wood,Lohse,Kimbrel,2:34,N,"21,503",+,,False
2,3,201404020,boxscore,ATL,@,MIL,W,1,0,,...,0.5,Harang,Garza,Kimbrel,2:36,D,"21,712",++,,False
3,4,201404040,boxscore,ATL,@,WSN,W,2,1,,...,0.5,Avilan,Clippard,Kimbrel,3:03,D,"42,834",+++,,False
4,5,201404050,boxscore,ATL,@,WSN,W,6,2,,...,0.5,Teheran,Strasburg,,3:36,N,"37,841",++++,,False

In [4]:
df.columns

Index(['Gm#', 'Date', '', 'Tm', 'Location', 'Opp', 'W/L', 'R', 'RA', 'Inn',
       'W-L', 'Rank', 'GB', 'Win', 'Loss', 'Save', 'Time', 'D/N', 'Attendance',
       'Streak', 'Orig. Scheduled', 'HomeGame'],
      dtype='object')

In [5]:
dcf.rename_columns(df)
df.columns

Index(['Gm#', 'Date', '', 'Tm', 'Location', 'Opp', 'W/L', 'runs_scored',
       'runs_allowed', 'Inn', 'W-L', 'Rank', 'GB', 'Win', 'Loss', 'Save',
       'Time', 'D/N', 'Attendance', 'Streak', 'Orig. Scheduled',
       'home_or_away'],
      dtype='object')

In [6]:
print(len(df.columns))

22

In [7]:
dcf.filter_columns(df)
df.columns

Index(['Gm#', 'Date', '', 'Tm', 'Location', 'Opp', 'W/L', 'runs_scored',
       'runs_allowed', 'W-L', 'Rank', 'GB', 'Time', 'D/N', 'Attendance',
       'Streak', 'home_or_away'],
      dtype='object')

In [8]:
print(len(df.columns))

17

In [9]:
dcf.clean_GB_col(df)

,Gm#,Date,,Tm,Location,Opp,W/L,runs_scored,runs_allowed,W-L,Rank,GB,Time,D/N,Attendance,Streak,home_or_away
0,1,201403310,boxscore,ATL,@,MIL,L,0,2,0-1,4,1.0,2:45,D,"45,691",-,False
1,2,201404010,boxscore,ATL,@,MIL,W,5,2,1-1,3,1.0,2:34,N,"21,503",+,False
2,3,201404020,boxscore,ATL,@,MIL,W,1,0,2-1,2,0.5,2:36,D,"21,712",++,False
3,4,201404040,boxscore,ATL,@,WSN,W,2,1,3-1,2,0.5,3:03,D,"42,834",+++,False
4,5,201404050,boxscore,ATL,@,WSN,W,6,2,4-1,2,0.5,3:36,N,"37,841",++++,False
5,6,201404060,boxscore,ATL,@,WSN,L,1,2,4-2,2,0.5,2:44,D,"34,327",-,False
6,7,201404080,boxscore,ATL,,NYM,L,0,4,4-3,3,1.0,3:07,N,"47,144",--,True
7,8,201404090,boxscore,ATL,,NYM,W,4,3,5-3,2,1.0,2:40,N,"19,608",+,True
8,9,201404100,boxscore,ATL,,NYM,L,4,6,5-4,2,2.0,3:26,N,"29,470",-,True
9,10,201404110,boxscore,ATL,,WSN,W-wo,7,6,6-4,2,1.0,3:49,N,"28,243",+,True
10,11,201404120,boxscore,ATL,,WSN,W,6,3,7-4,1,0.0,3:33,N,"36,621",++,True
11,12,201404130,boxscore,ATL,,WSN,W,10,2,8-4,1,1.0,2:56,D,"27,919",+++,True
12,13,201404140,boxscore,ATL,@,PHI,W,9,6,9-4,1,1.0,3:41,N,"26,516",++++,False
13,14,201404160,boxscore,ATL,@,PHI,W,1,0,10-4,1,1.5,2:29,N,"23,382",+++++,False
14,15,201404170,boxscore,ATL,@,PHI,L,0,1,10-5,1,1.5,2:28,D,"25,750",-,False
15,16,201404180,boxscore,ATL,@,NYM,W,6,0,11-5,1,1.5,2:55,N,"33,199",+,False
16,17,201404190,boxscore,ATL,@,NYM,W,7,5,12-5,1,2.5,3:13,N,"31,476",++,False
17,18,201404200,boxscore,ATL,@,NYM,L-wo,3,4,12-6,1,1.5,4:37,D,"33,131",-,False
18,19,201404210,boxscore,ATL,,MIA,W-wo,4,2,13-6,1,2.5,3:41,N,"16,055",+,True
19,20,201404220,boxscore,ATL,,MIA,L,0,1,13-7,1,2.5,2:08,N,"18,275",-,True
20,21,201404230,boxscore,ATL,,MIA,W,3,1,14-7,1,2.5,3:01,D,"21,508",+,True
21,22,201404250,boxscore,ATL,,CIN,W,5,4,15-7,1,2.5,2:41,N,"31,111",++,True
22,23,201404260,boxscore,ATL,,CIN,W,4,1,16-7,1,3.0,2:17,N,"33,702",+++,True
23,24,201404270,boxscore,ATL,,CIN,W-wo,1,0,17-7,1,3.5,3:02,D,"31,446",++++,True
24,25,201404290,boxscore,ATL,@,MIA,L,0,9,17-8,1,2.5,2:07,N,"21,992",-,False
25,26,201404300,boxscore,ATL,@,MIA,L,3,9,17-9,1,2.0,2:50,N,"15,558",--,False
26,27,201405010,boxscore,ATL,@,MIA,L,4,5,17-10,1,1.5,2:54,N,"17,836",---,False
27,28,201405020,boxscore,ATL,,SFG,L,1,2,17-11,1,0.5,3:08,N,"29,469",----,True
28,29,201405030,boxscore,ATL,,SFG,L,1,3,17-12,1,0.5,2:51,N,"34,648",-----,True
29,30,201405040,boxscore,ATL,,SFG,L,1,4,17-13,1,0.5,3:15,D,"30,067",------,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24266,133,201808280,boxscore,WSN,@,PHI,W,5,4,67-66,3,8.0,3:28,N,"21,083",+++,False
24267,134,201808290,boxscore,WSN,@,PHI,L,6,8,67-67,3,8.0,3:38,N,"22,525",-,False
24268,135,201808310,boxscore,WSN,,MIL,L,1,4,67-68,3,7.5,3:11,N,"30,676",--,True
24269,136,201809010,boxscore,WSN,,MIL,W,5,4,68-68,3,7.5,3:44,N,"30,875",+,True
24270,137,201809020,boxscore,WSN,,MIL,L,4,9,68-69,3,8.5,3:22,D,"33,032",-,True
24271,138,201809030,boxscore,WSN,,STL,W-wo,4,3,69-69,3,7.5,3:51,D,"28,648",+,True
24272,139,201809040,boxscore,WSN,,STL,L,8,11,69-70,3,7.5,4:10,N,"21,637",-,True
24273,140,201809050,boxscore,WSN,,STL,L,6,7,69-71,3,7.5,3:35,N,"22,124",--,True
24274,141,201809060,boxscore,WSN,,CHC,L,4,6,69-72,3,8.5,4:00,N,"32,070",---,True
24275,142,201809081,boxscore,WSN,,CHC,W,10,3,70-72,3,7.5,2:45,D,,+,True
24276,143,201809082,boxscore,WSN,,CHC,W,6,5,71-72,3,7.5,3:15,D,"41,346",++,True
24277,144,201809111,boxscore,WSN,@,PHI,W,3,1,72-72,3,8.0,3:27,D,,+++,False
24278,145,201809112,boxscore,WSN,@,PHI,W,7,6,73-72,3,8.0,4:16,D,"19,630",++++,False
24279,146,201809120,boxscore,WSN,@,PHI,W,5,1,74-72,3,8.0,2:56,N,"20,258",+++++,False
24280,147,201809130,boxscore,WSN,,CHC,L,3,4,74-73,3,8.5,3:46,D,"30,173",-,True
24281,148,201809140,boxscore,WSN,@,ATL,L,5,10,74-74,3,9.5,3:54,N,"39,268",--,False
24282,149,201809150,boxscore,WSN,@,ATL,W,7,1,75-74,3,8.5,3:41,D,"36,050",+,False
24283,150,201809160,boxscore,WSN,@,ATL,W,6,4,76-74,3,7.5,3:15,D,"33,403",++,False
24284,151,201809170,boxscore,WSN,@,MIA,L,5,8,76-75,3,7.5,3:17,N,"8,440",-,False
24285,152,201809180,boxscore,WSN,@,MIA,W,4,2,77-75,3,6.5,3:14,N,"7,726",+,False
24286,153,201809200,boxscore,WSN,,NYM,L,4,5,77-76,3,8.0,4:16,N,"28,358",-,True
24287,154,201809210,boxscore,WSN,,NYM,L,2,4,77-77,3,9.0,2:57,N,"37,895",--,True
24288,155,201809220,boxscore,WSN,,NYM,W,6,0,78-77,3,9.0,2:32,D,"39,372",+,True
24289,156,201809230,boxscore,WSN,,NYM,L,6,8,78-78,3,10.0,4:14,D,"34,218",-,True
24290,157,201809240,boxscore,WSN,,MIA,W,7,3,79-78,2,9.5,3:09,N,"22,428",+,True
24291,158,201809250,boxscore,WSN,,MIA,W,9,4,80-78,2,9.5,3:12,N,"26,483",++,True
24292,159,201809260,boxscore,WSN,,MIA,W,9,3,81-78,2,8.5,2:45,D,"28,680",+++,True
24293,160,201809280,boxscore,WSN,@,COL,L,2,5,81-79,2,9.0,2:51,N,"48,089",-,False
24294,161,201809290,boxscore,WSN,@,COL,W,12,2,82-79,2,8.0,3:40,N,"47,781",+,False
24295,162,201809300,boxscore,WSN,@,COL,L,0,12,82-80,2,8.0,3:02,D,"47,833",-,False

Making sure 'GB' is float below:

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24296 entries, 0 to 24295
Data columns (total 17 columns):
Gm#             24296 non-null object
Date            24296 non-null object
                24296 non-null object
Tm              24296 non-null object
Location        24296 non-null object
Opp             24296 non-null object
W/L             24296 non-null object
runs_scored     24296 non-null object
runs_allowed    24296 non-null object
W-L             24296 non-null object
Rank            24296 non-null object
GB              24296 non-null float64
Time            24296 non-null object
D/N             24296 non-null object
Attendance      24296 non-null object
Streak          24296 non-null object
home_or_away    24296 non-null object
dtypes: float64(1), object(16)
memory usage: 3.3+ MB

In [11]:
dcf.split_win_loss(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24296 entries, 0 to 24295
Data columns (total 19 columns):
Gm#             24296 non-null object
Date            24296 non-null object
                24296 non-null object
Tm              24296 non-null object
Location        24296 non-null object
Opp             24296 non-null object
W/L             24296 non-null object
runs_scored     24296 non-null object
runs_allowed    24296 non-null object
W-L             24296 non-null object
Rank            24296 non-null object
GB              24296 non-null float64
Time            24296 non-null object
D/N             24296 non-null object
Attendance      24296 non-null object
Streak          24296 non-null object
home_or_away    24296 non-null object
Total_wins      24296 non-null int64
Total_losses    24296 non-null int64
dtypes: float64(1), int64(2), object(16)
memory usage: 3.7+ MB

In [12]:
dcf.calc_win_differential(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24296 entries, 0 to 24295
Data columns (total 20 columns):
Gm#                 24296 non-null object
Date                24296 non-null object
                    24296 non-null object
Tm                  24296 non-null object
Location            24296 non-null object
Opp                 24296 non-null object
W/L                 24296 non-null object
runs_scored         24296 non-null object
runs_allowed        24296 non-null object
W-L                 24296 non-null object
Rank                24296 non-null object
GB                  24296 non-null float64
Time                24296 non-null object
D/N                 24296 non-null object
Attendance          24296 non-null object
Streak              24296 non-null object
home_or_away        24296 non-null object
Total_wins          24296 non-null int64
Total_losses        24296 non-null int64
Win_differential    24296 non-null int64
dtypes: float64(1), int64(3), object(16)
memory usage: 3.9+ MB

In [13]:
dcf.count_cum_wins(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24296 entries, 0 to 24295
Data columns (total 22 columns):
Gm#                 24296 non-null object
Date                24296 non-null object
                    24296 non-null object
Tm                  24296 non-null object
Location            24296 non-null object
Opp                 24296 non-null object
W/L                 24296 non-null object
runs_scored         24296 non-null object
runs_allowed        24296 non-null object
W-L                 24296 non-null object
Rank                24296 non-null object
GB                  24296 non-null float64
Time                24296 non-null object
D/N                 24296 non-null object
Attendance          24296 non-null object
Streak              24296 non-null object
home_or_away        24296 non-null object
Total_wins          24296 non-null int64
Total_losses        24296 non-null int64
Win_differential    24296 non-null int64
win_value           24296 non-null int64
Wins_last_10        24287 non-null float64
dtypes: float64(2), int64(4), object(16)
memory usage: 4.3+ MB

In [14]:
dcf.calc_mean_runs_last_10(df)
df.sample(5)

,Gm#,Date,,Tm,Location,Opp,W/L,runs_scored,runs_allowed,W-L,...,D/N,Attendance,Streak,home_or_away,Total_wins,Total_losses,Win_differential,win_value,Wins_last_10,Mean_runs_last_10
7502,53,201506040,boxscore,MIN,@,BOS,W,8,4,32-21,...,D,"33,615",++,False,32,21,11,1,7.0,4.1
18792,7,201704090,boxscore,TBR,,TOR,W,7,2,5-2,...,D,"15,341",+++,True,5,2,3,1,6.0,4.4
15079,20,201704260,boxscore,BOS,,NYY,L,1,3,11-9,...,N,"32,072",-,True,11,9,2,0,6.0,3.4
12657,28,201605070,boxscore,NYY,,BOS,W,8,2,11-17,...,D,"47,822",++,True,11,17,-6,1,3.0,3.1
6405,89,201507170,boxscore,DET,,BAL,W,7,3,45-44,...,N,"36,378",+,True,45,44,1,1,5.0,5.9

In [16]:
dcf.calc_run_diff(df)
df.tail(5)

,Gm#,Date,,Tm,Location,Opp,W/L,runs_scored,runs_allowed,W-L,...,home_or_away,Total_wins,Total_losses,Win_differential,win_value,Wins_last_10,Mean_runs_last_10,cum_runs_scored,cum_runs_allowed,run_differential
24291,158,201809250,boxscore,WSN,,MIA,W,9,4,80-78,...,True,80,78,2,1,6.0,5.6,106341,106342,-1
24292,159,201809260,boxscore,WSN,,MIA,W,9,3,81-78,...,True,81,78,3,1,6.0,5.8,106350,106345,5
24293,160,201809280,boxscore,WSN,@,COL,L,2,5,81-79,...,False,81,79,2,0,5.0,5.4,106352,106350,2
24294,161,201809290,boxscore,WSN,@,COL,W,12,2,82-79,...,False,82,79,3,1,6.0,6.1,106364,106352,12
24295,162,201809300,boxscore,WSN,@,COL,L,0,12,82-80,...,False,82,80,2,0,5.0,5.7,106364,106364,0

In [17]:
with open('merged_data_initial_clean.pickle', 'wb') as to_write:
    pickle.dump(df, to_write)

In [18]:
df.head(5)

,Gm#,Date,,Tm,Location,Opp,W/L,runs_scored,runs_allowed,W-L,...,home_or_away,Total_wins,Total_losses,Win_differential,win_value,Wins_last_10,Mean_runs_last_10,cum_runs_scored,cum_runs_allowed,run_differential
0,1,201403310,boxscore,ATL,@,MIL,L,0,2,0-1,...,False,0,1,-1,0,NaN,0.0,0,2,-2
1,2,201404010,boxscore,ATL,@,MIL,W,5,2,1-1,...,False,1,1,0,1,NaN,2.5,5,4,1
2,3,201404020,boxscore,ATL,@,MIL,W,1,0,2-1,...,False,2,1,1,1,NaN,2.0,6,4,2
3,4,201404040,boxscore,ATL,@,WSN,W,2,1,3-1,...,False,3,1,2,1,NaN,2.0,8,5,3
4,5,201404050,boxscore,ATL,@,WSN,W,6,2,4-1,...,False,4,1,3,1,NaN,2.8,14,7,7

In [ ]:
with open('rays_df_2017.pickle', 'wb') as to_write:
    pickle.dump(rays_df_2017, to_write)